.userPage{
    width: 100%;
    max-width: 1200px;
    height: 100%;
    padding: 1rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.userPage__title{
    font-size: 2.5rem;
    text-align: center;
    margin-top: 6rem;
}

.userPage-image{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
}

.userPage-image img{
    border-radius: 50%;
    max-width: 250px;
}

.userPage-image__info{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.userPage-image__info span{
    color: #fff;
    font-size: 1.2rem;
}

.userPage-image__info .button__seguir{
    color: #fff;
    font-size: 1.2rem;
    background: #be17d0c9;
    color: #fff;
    border: 1px solid #bf17d0;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.userPage-modelos__title, .userPage-likes__title{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.userPage-modelos__cards, .userPage-likes__cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.userPage-modelos__title__link, .userPage-likes__title__link{
    text-decoration: underline;
    color: #bf17d0;
    font-size: 1.5rem;
}

.seguido{
    display: block;
}

.seguir{
    display: none;
}
/* media queries MOBILE FIRTS */

@media screen and (min-width:576px){
    .userPage-modelos__cards, .userPage-likes__cards{
        grid-template-columns: repeat(2, 1fr);
    }
    .userPage-image{
        flex-direction: row;
        text-align: left;
        gap: 5rem;
    }
    .userPage-modelos__title, .userPage-likes__title{
        flex-direction: row;
    }
}

@media screen and (min-width:992px){  

    .userPage-modelos__cards, .userPage-likes__cards{
        grid-template-columns: repeat(4, 1fr);
    }

    .userPage__title, .userPage-modelos__title, .userPage-likes__title{
        text-align: left;
    }

}