.populares{
    width: 100%;
    max-width: 1200px;
    padding: 1rem;
    margin: 0 auto;
}

.populares__imgs{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

/* media queries MOBILE FIRTS */

@media screen and (min-width:576px){
    .populares__imgs{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width:992px){  

    .populares__imgs{
        grid-template-columns: repeat(4, 1fr);
    }

}


