.login{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    object-fit: contain;
}

.container{
    width: 100%;
    max-width: 430px;
    margin: 0 auto;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 30px;
}

.container h1{
    text-align: center;
    font-weight: 600;

    background: -webkit-linear-gradient(344deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 50%, rgba(191,23,208,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.input__field{
    margin-top: 30px;
    width: 100%;
    height: 50px;
    position: relative;
}

.input__field input{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    font-size: 1.2rem;   
    transition: all 2s ease;
}

.input__field input:is(:focus, :valid){
    border-bottom-color: rgba(9,9,121,1);
}

.field__icon{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: #999;
}

.field__icon-eye{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    color: #999;
    cursor: pointer;
}

.form .checkbox-text{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.checkbox-text .checkbox-content{
    display: flex;
    align-items: center;
}

.checkbox-content input{
    margin: 0 8px -2px 4px;
}

.form .text{
    color: #333;
    font-size: 1rem;
}

.form a.text{
    text-decoration: none;
    color: rgba(9,9,121,1);
}

.form a:hover{
    text-decoration: underline;
}

.btn-login{
    padding: 12px 32px;
    font-size: 1.2rem;
    text-transform: uppercase;
    background: rgb(2,0,36);
    background: linear-gradient(344deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 50%, rgba(191,23,208,1) 100%);
    color: #fff;
    border: 1px solid #bf17d0;
    border-radius: 10px;
    cursor: pointer;
}

.btn-login:hover{
    color: white;
    border: 1px solid #bf17d0;
}

.form .login__signup{
    margin-top: 30px;
    text-align: center;
}